<div class="engineerSigninPage">
  <div class="container">
    <h2 class="title">ログイン</h2>
    <%= form_with url: new_engineer_session_path, class: "mt-5", method: :post, local: true do |f| %>
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "メールアドレスを入力してください" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "パスワードを入力してください" %>
      </div>
      <div class="text-center">
        <%= f.submit "ログインする" , class: "loginBtn"%>
      </div>
    <% end %>
    <%= render "engineers/shared/links" %>
  </div>
</div>
