<div class="companySignupPage">
  <header class="header">
    <div>法人アカウントを作成</div>
  </header>
  <div class="container">
    <%= form_with url: new_company_session_path, class: "mt-5", method: :post, local: true do |f| %>
      <% f.hidden_field :email, value: "company@test.com" %>
      <% f.hidden_field :password, value: "1234abcd" %>
      <%= f.submit "かんたんログイン", class: "btn submitBtn" %>
    <% end %>
    <%= form_with model: @company, url: company_registration_path, class: "mt-5", method: :post, local: true do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <label>名前</label>
        <%= f.text_field :name, class: "form-control", placeholder: "法人名を入力してください"%>
      </div>
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: "form-control", placeholder: "メールアドレスを入力してください", autofocus: true, autocomplete: "email" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %>文字以上入力してください</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力してください", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "確認用パスワード" %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワードを再入力してください", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <label>会社概要</label>
        <%= f.text_area :about, maxlength: 500, rows: 10, class: "form-control"%>
      </div>
      <div class="text-center">
        <%= f.submit "登録する" , class: "btn submitBtn"%>
        <%= render "engineers/shared/links" %>
      </div>
    <% end %>
  </div>
</div>